a.hidden-print(href="https://github.com/TheDigitalNinja/RussellPerkinsResume", target="_blank")
	img(style="position: absolute; top: 0; left: 0; border: 0;", src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub").hidden-xs.hidden-sm
div#header
	div.container.text-center
		h1 Russell Perkins
		p
			a(href='mailto:dsw.ninjaboy@gmail.com')
				i.fa.fa-envelope-o 
				|  dsw.ninjaboy@gmail.com 
			a(href='tel:5735546942')
				i.fa.fa-phone
				|  573.554.6942
		p
			a(href='https://linkedin.com/in/thedigitalninja', target='_blank')
				i.fa.fa-linkedin-square 
				|  linkedin.com/in/thedigitalninja
div#sticky-anchor
div#navbar.navbar-default.hidden-print.hidden-xs.hidden-sm
	div.container
		ul.nav.navbar-nav(role='tablist')
			li
				a(href='#header') Summary
			li
				a(href='#experience') Experience
			li
				a(href='#certifications') Certifications
			li
				a(href='#education') Education
			li
				a(href='#references') References 
			li
				a(href='#footer') Tech Stack
		ul.nav.navbar-nav.navbar-right
			li
				a(href='javascript:window.print()')
					i.fa.fa-print  
					|  Print