doctype html
html
	head
		title my jade template
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
	body
		div.header
			div.container.text-center
				h1 Russell Perkins
				p
					a(href='mailto:dsw.ninjaboy@gmail.com')
						i.fa.fa-envelope-o 
						|  dsw.ninjaboy@gmail.com 
					a(href='tel:5735546942')
						i.fa.fa-phone
						|  573.554.6942
		div.summary
			div.container
				p.h1 Summary
				hr
				p Over a decade of professional experience and a passion for the latest technologies, server configurations, and programming techniques. Communicates well and takes pride at being a team player. Follows best practices and can find unique solutions for any problem. 
		div.experince
			div.container
				p.h1 Experince
				hr

				div.job
					div.row
						div.col-md-6.job-title
							h2.h4 Web Development Manager & Lead Developer
								span.company  at The Evoke Group
						div.col-md-6.job-date
							| January, 2014 - September, 2015 (1 year, 9 months)
					p Built consistent, scalable, repeatable, business solutions to allow our company to grow in revenue every quarter. Created training materials and trained all staff members on best practices for coding and responsive design. Built over 31 and custom websites in WordPress from the ground up. No purchased themes.
					p LESS | Bootstrap | WordPress | Grunt | AWS | RDS

				div.job
					div.row
						div.col-md-6.job-title
							h2.h4 Consultant / Contractor / Freelancer
								span.company  at Digital Shift Studios
						div.col-md-6.job-date
							| September, 2010 - January, 2014 (3 years, 5 months)
					p Systems administration - Linux, Windows Server, AWS, Linode and Puppet. Whether reliability, scalability, cost or all of the above are your main concern I helped  find a solution and implement it that best suits each clients individual needs.
					p Web design and development - Utilize many of the latest technologies such as HTML5, CSS3 (sass or less too), bootstrap and jquery for front end and php and node.js for back end architecture. I am also very familiar with responsive design via bootstrap and facebook's open graph for social interactions. Use the lean startup, A/B testing and rapid prototype methodology to help get a MVP (minimum viable product) out as soon as possible for the lowest cost.
					p Databases - Installation, replication, backups and redundancy for MongoDB, MySQL, Postgres. 

				div.job
					div.row
						div.col-md-6.job-title
							h2.h4 Senior Systems Administrator
								span.company  at Listener Approved
						div.col-md-6.job-date
							| October, 2011 - September, 2013 (2 years)
					p Built and managed Linode and AWS cloud hosting for highly scalable node.js apps and apache farms. High availability via load balancers. Setup and managed databases in MySQL, Amazon RDS and MongoDB with redundant replication.

				div.job
					div.row
						div.col-md-6.job-title
							h2.h4 Systems Administrator
								span.company  at MBS
						div.col-md-6.job-date
							| May, 2010 - August, 2011 (1 year, 4 months)
					p Supported a large apache web farm and primary support on over a hundred servers and vSphere virtual machines. Used puppet for server configurations.

				div.job
					div.row
						div.col-md-6.job-title
							h2.h4 Head of IT
								span.company  at Communications for Research
						div.col-md-6.job-date
							| September, 2006 - May, 2010 (3 years, 9 months)
					p Network and server administrator of two locations and 200 computers. Web developer and survey programmer (PHP, apache, HTML, CSS, JavaScript, Perl)

				div.job
					div.row
						div.col-md-6.job-title
							h2.h4 Workstation Anaylst
								span.company  at Phelps County Regional Medical Center
						div.col-md-6.job-date
							| March, 2005 - August, 2006 (1 year, 6 months)
					p Helpdesk lead responsible for 1,400 users and 800 desktop. Manage applications and installations via Microsoft SMS and Active Directory. SharePoint portal administrator and rollout coordinator.

				div.job
					div.row
						div.col-md-6.job-title
							h2.h4 Owner
								span.company  at PIXL8ED
						div.col-md-6.job-date
							| December, 2003 - February, 2005 (1 year, 3 months)
					p Owner, Network Admin, Web design, Manager

				div.job
					div.row
						div.col-md-6.job-title
							h2.h4 Programmer
								span.company  at Communications for Research
						div.col-md-6.job-date
							| August, 2000 - August, 2001 (1 year, 1 month)
					p CFMC Programmer and PC repair and maintenance.



