doctype html
html
	head
		title Russell Perkins - DevOps & Linux Systems Administrator
		meta(name='viewport', content='width=device-width, inital-scale=1.0')
		meta(name='description', content='Russell Perkins Resume: Over a decade of professional experience and a passion for the latest technologies, server configurations, and programming techniques.')
		meta(property='og:image',content='https://russellperkins.net/images/profile_pic.jpg')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
		link(href='favicon.ico', rel='icon', type='image/x-icon')
		script(src='https://code.jquery.com/jquery-2.1.4.min.js', defer)
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', defer)
		script(src='/js/scripts.js', defer)
		if liveReload
			script(src="//ec2-52-88-185-243.us-west-2.compute.amazonaws.com:35729/livereload.js", defer)
		
	body(data-spy='scroll', data-target='#navbar')
		include header.jade
		include summary.jade
		include experience.jade
		include certifications.jade
		include education.jade
		include references.jade
		include footer.jade
