div#references.hidden-print
	div.container
		p.h1 References 
		hr
		div#accordian.panel-group(role='tablist',aria-multiselectable='true')
			
			div.panel.panel-default
				div#refOne.panel-heading(role='tab')
					h4.panel-title
						a(role='button',data-toggle='collapse', data-parent='#accordian', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne') Adam Weber: Co-Founder of The Evoke Group
				div#collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='refOne')
					div.panel-body
						p I have worked with James Russell Perkins for over 2 years full-time and have worked with Russell on various projects before that. Over the last two years at The Evoke Group, Russell has continued to develop and improve our web development delivery process in a number of ways and is what I consider to be a brilliant programmer. Russell has developed proprietary processes and systems in order to allow us to deliver a hybrid style of web development allowing for extensive customization without hindering the clients ability to use Wordpress easily to make changes in the future. 
						p Russell has supported our team by implementing time tracking procedures and scaling project management pipelines for various types of digital media production projects. He has also shown great skills in training and teaching as he has worked closely with our graphic designer who now writes a majority of the CSS necessary for our sites. 
						p Russell has also acted as our network administrator for the timeline of The Evoke Group and has worked to scale our internal server system for file storage and management as well as our production server for all websites that we host. 
						p I would consider Russell a consummate expert of .PHP, Javascript, HTML 5, CSS3, less, grunt, network administration, and many other coding languages and tools.
						p I will be happy to answer any specific questions you may have about his skills, capabilities, or performance and I think he will make a great addition to any development team he is added to. Russell is a great creative collaborator and enjoys approaching programmatic challenges that stand in his way. 
			
			div.panel.panel-default
				div#refTwo.panel-heading(role='tab')
					h4.panel-title
						a(role='button',data-toggle='collapse', data-parent='#accordian', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo') Doyle McClellan: Instructor at RTI
				div#collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='refTwo')
					div.panel-body
						p Over the years, I have known Russell in a variety of technical roles. He is one of those rare technologists who exhibits the optimal balance of technical expertise, vision, positivity, and systematic approach that allow him to develop solutions to the most complex tasks.
						p His opinions are well thought-out, and they merit serious consideration. His solutions are innovative and test the leading edge of technology.
						
			div.panel.panel-default
				div#refThree.panel-heading(role='tab')
					h4.panel-title
						a(role='button',data-toggle='collapse', data-parent='#accordian', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree') Thomas Quick: Developer with Listener Approved
				div#collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='refThree')
					div.panel-body
						p Hard working, reliable, and extremely professional are the terms I choose to describe Russell. Having known him since school, I can safely say that he has always had the entrepreneur spirit, and a great work ethic to help him realize his goals.
			
			div.panel.panel-default
				div#refFour.panel-heading(role='tab')
					h4.panel-title
						a(role='button',data-toggle='collapse', data-parent='#accordian', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour') Thomas Maerz: Workstation Analyst at PCRMC
				div#collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='refFour')
					div.panel-body
						p Russell is a hardworking and internally motivated indivudual. His computer expertise has never ceased to grow. I would not hesitate to work with Russell on a project of any type or scale, he lives and breathes computer systems.