div#summary
	div.container
		p.h1 Summary
		hr
		p Over a decade of professional experience and a passion for the latest technologies, server configurations, and programming techniques. Communicates well and takes pride at being a team player. Follows best practices and can find unique solutions for any problem. 